.nav__container{
    width:  100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    /* position: inherit; */
    color: white;
    z-index: 10;
    
}

.nav__left__container{
    /* background: red; */
    display: flex;
    gap: 12rem;
}

.nav__right__container {
    /* background-color: aqua; */
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.logoLink {
    cursor: pointer;
}
.nav__logo{
    font-size: 1.3rem;
    line-height: 1rem;
    color:red;
}

.nav__home {
    cursor: pointer;
}


.nav__lists  {
    display: flex;
    gap: 3rem;
   
}

.netflix {
    /* background-color: wheat; */
    cursor: pointer;
}

.home  , .mylists{
    cursor: pointer;
    font-weight: 900;
}



.select{
    background: transparent;
    background-color: none  ;
}

.signout {
    position: absolute;
    top: 100%; /* Position it below the h5 element */
    margin-right: 15px;
   
  }