.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/statics/netflix_background.jpg');
    background-repeat: no-repeat;
    object-fit: contain;
    position: absolute;
    padding: 0px ;
    /* opacity: 0.2; */
}


.logoNetflix {
    position: relative;
    margin-top: 2.5rem;
    padding-left: 3rem;
}

.title  {
    color:  red;
    font-size: 3rem;
}

/* .main {
    width: 100%;
    height: 100vvh;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
     z-index: 10;
     justify-content: center;
} */

.main__container {
    border-radius: 20px ;
    /* padding-bottom: 1rem; */
}

.form__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
   
    
    
}
.data__container {
    background-color: var(--black20);
    width:25%;
    border-radius: 20px;
    padding: 1.5rem 2rem ;
  
}


.data__container__title h3 {
    color: var(--white50);
    font-size: 1.725rem;
    margin-top: .75rem;
}

.data__container__input {
   margin-top: 1.5rem;
    width: 100%;
    /* overflow: hidden; */
    border-radius: 20px;
}

.input__type{
    background-color: white;
    width: 100%;
    border-radius: 20px;
}

.data__container__button {
margin-top: 2rem;
background-color: var(--red);
border-radius: 10px;
margin-bottom: 5rem;
}

.data__button {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
}

.error__message {
    color: red;
    font-size: .9rem;
}